DATABASE_URL=postgresql://postgres:password@db:5432/makerere_online
SECRET_KEY=your-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Interswitch / QuickTeller (Uganda)
INTERSWITCH_URL=https://dev.interswitch.io
INTERSWITCH_CLIENT_ID=IKIAB6C295C1744581E34D76B9DD832EB58B8953D583
INTERSWITCH_CLIENT_SECRET=2eN104PyiVPLBpDd1mOggcqPbPhkp4F4rIK9qt3wd7w=
INTERSWITCH_MERCHANT_CODE=
INTERSWITCH_PAYABLE_CODE=
INTERSWITCH_TERMINAL_ID=3ISO9881
INTERSWITCH_SERIAL_ID=038732999900466
INTERSWITCH_PASSWORD=Qris123
INTERSWITCH_BILLERS_API_URL=https://iswapigateway-develop.azurewebsites.net/

# Mobile Money Payment Codes (from Interswitch biller items)
MTN_PAYMENT_CODE=
AIRTEL_PAYMENT_CODE=
